<div class="jankx-copyright">
    {{ open_container }}
        <div class="text">
            {{ copyright | raw }}
            {{ credit_message | raw }}
        </div>
    {{ close_container }}
</div>
