{% if (has_nav_menu(args['theme_location']) or args['theme_location'] is same as 'primary') %}
    <nav class="jankx-ui navigation navigation-{{ args['theme_location'] }}">

    {% if (args['open_container'] is defined and args['open_container'])%}
        {{ jankx_open_container() }}
    {% endif %}

        {{ wp_nav_menu(args) }}

    {% if (args['open_container'] is defined and args['open_container'])%}
        {{ jankx_close_container() }}
    {% endif %}
    </nav>
{% endif %}
