<div class="jankx-footer-widget widget-area-1">
    {% if is_active_sidebar('footer_1') %}
        {{ dynamic_sidebar('footer_1') }}
    {% else %}
        {{ widgets_not_added_message | raw }}
    {% endif %}
</div>
