<div class="jankx-footer-widget widget-area-3">
    {% if is_active_sidebar('footer_3') %}
        {{ dynamic_sidebar('footer_3') }}
    {% else %}
        {{ widgets_not_added_message | raw }}
    {% endif %}
</div>
