<div class="jankx-footer-widget widget-area-2">
    {% if is_active_sidebar('footer_2') %}
        {{ dynamic_sidebar('footer_2') }}
    {% else %}
        {{ widgets_not_added_message | raw }}
    {% endif %}
</div>
